*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: url(../imagen/aero1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

}

.d-flex .navbar{
    position: relative;
    z-index: -2;

}
.d-flex .bp-primary{
    position: absolute;
    width: 65px;
    height: 100%;
    background: rgba(0,0,0,.7) !important;
    overflow: hidden;
    -webkit-transition: width 0.5s;

}

.d-flex .bp-primary:hover{
    width: 250px
}

.d-flex .logo{
    width: 40px;
    height: 40px;
    margin: 10px;
    background: url(../imagen/menu.png);

}

.d-flex  .nameGame{
    padding: 14px 20px;
    color: #fff;

}

.d-flex .menu{
    width: 200px;

}
.d-flex .menu a:hover{
    text-decoration: none;

}